$primary: #54a5d4;
$primary-light:lighten($primary,10%);
$primary-dark:darken($primary,20%);

$secondary:skyblue;
$secondary-light:lighten($secondary,10%);

$navcolor:#367197;
$background: #183b56;
$background-light: rgba(28, 98, 134, 0.55);
$background-purple: rgba(38, 30, 93, 0.5);
$white-text:#c0c0c0;
