@import "color";
.title{
  font-size: 1.5rem;
  margin: 10px 0;
  font-weight: bolder;
  color: whitesmoke;
}

.subtitle{
  font-size: 1.3rem;
  margin: 5px 0;
  font-weight: bolder;
  color: whitesmoke;
}
.subtitle-1{
  font-size: 1.1rem;
  margin: 5px 0;
  font-weight: bolder;
  color: rgba(214, 214, 214, 0.9);
}


.text-center{
  text-align: center;
}

.info{
  font-size: 1.1rem;
  color: #ffffff;
}
.text-small{
  font-size: 10px;
  color: gray;
}
p{
  margin: 5px 0px;
}
